<div class="modal-fondo" (click)="cerrar.emit()">
  <div
    class="modal-caja"
    role="dialog"
    aria-modal="true"
    (click)="$event.stopPropagation()"
  >
    <header class="modal-encabezado">
      <div>
        <h2>{{ titulo }}</h2>
        <p *ngIf="subtitulo">{{ subtitulo }}</p>
      </div>

      <button
        class="modal-cerrar"
        type="button"
        aria-label="Cerrar"
        (click)="cerrar.emit()"
      >
        &times;
      </button>
    </header>

    <div class="modal-cuerpo">
      <ng-content></ng-content>
    </div>
  </div>
</div>
